.page-header h1{
    font-family: 'Fascinate Inline', serif;
    font-size: 4em;
}

.page-header ul {
    font-family: 'Ranga', serif;
    font-size: 1.5em;
}

.jumbotron {
    text-align: center;
    background: url(../img/bark.jpg);
    
}


.jumbotron h1 {
    font-family: 'Ranga', serif;
    font-weight: bold;
    color: #fff !important;
}

.jumbotron h2 {
    font-family: 'Pacifico', serif;
    font-weight: bold;
    color: #fff;
}

.col-md-6 h2 {
    text-align: center;
    font-family: 'Ranga', serif;
    font-weight: bold;
    font-size: 3em;
}

.col-md-6 p {
    font-size: 1.5em;
    padding-top: 30px;
}

.btn-primary {
    margin-top: 40px;
}

.modal-dialog {
    width:600px;
}

.thumbnail {
    margin-bottom:6px;
}

.xs-collapse {
  display: none;
  visibility: hidden;
}

.xs-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.xs-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.btn-default.xs-toggle .icon-bar {
  background-color: #888;
}

@media (min-width: 769px) {
  .xs-toggle {
    display: none;
    visibility: hidden;
  }
  .xs-collapse {
    display: block;
    visibility: visible;
  }
}